<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>HIVLessPHL</title>

    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/angular.js"></script>
    <script src="app.js"></script>

    <link href="css/bootstrap-theme.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />
</head>
<body ng-controller='mainController' >

    <style type="text/css">
        #map {
            height: 100vh;
        }


    </style>

    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiyDJuoHwCUiqWLG9fS9GdzbY-RCrRhxg&callback=initMap">
    </script>



 

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-brand">
            HIVLessPHL
        </div>
    </nav>

    <div class="container" ng-show="isLogin">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <form class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
        <div class="col-md-4">

        </div>

    </div>



    <div class="container" ng-show="isHome">
    
 
        <div class="well" ng-repeat="item in list">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{item.title}}</h2>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-link">Read More...</button>
            </div>
        </div>

    </div>



    
    <div id="map" ng-show="isHIVCenters">
        
    </div>




    <nav class="navbar navbar-fixed-bottom" role="navigation">
        <div>
            <div class="col-xs-3" ng-click="goHome()">
                <div class="text-center">
                    <span class="glyphicon glyphicon-home" />
                </div>
                <div class="text-center">
                    Home
                </div>

            </div>
            <div class="col-xs-3" ng-click="goHIVCenters()">
                <div class="text-center">
                    <span class="glyphicon glyphicon-map-marker" />
                </div>
                <div class="text-center">
                    HIV Centers
                </div>

            </div>
            <div class="col-xs-3" ng-click="goInformation()">
                <div class="text-center">
                    <span class="glyphicon glyphicon-book" />
                </div>
                <div class="text-center text-small">
                    Information
                </div>

            </div>
            <div class="col-xs-3" ng-click="goDarkRoom()">
                <div class="text-center">
                    <span class="glyphicon glyphicon-user" />
                </div>
                <div class="text-center">
                   Dark Room
                </div>

            </div>
        </div>
    </nav>


</body>
</html>
